:root {
  --vaddonz-border: 0 0 0 1px #010101, 0 0 0 2px #ccc, 0 0 0 3px #0c0d0d;
}

.vaddonz-overlay {
  display: flex;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.vaddonz-dock, .vaddonz-dock.collapsed {
    display: flex;
    position: fixed;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    gap: 6px;
    transition: top 0.3s ease;
    box-shadow: var(--vaddonz-border);
    height: 26px;
    min-width: 26px;
    background: black;
    width: auto;
    justify-content: center;
}

.vaddonz-dock.collapsed {
    top: 34px;
}

button.vaddonz-dock-toggle {
  pointer-events: all;
}

.vaddonz-dock-toggle i {
    margin-top: -1px;
    display: flex;
    width: 100%;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}

.vaddonz-dock-toggle.down i {
  transform: rotate(0deg);
}

.vaddonz-dock-toggle.up i {
  transform: rotate(180deg);
}



.vaddonz-dock-toggle.down, .vaddonz-dock-toggle.up {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    margin-top: 31px;
    width: 26px;
    height: 18px;
    display: flex;
    background: black;
    border-radius: 0 0 6px 6px;
    fill: white;
    box-shadow: var(--vaddonz-border);
    pointer-events: all;
}

.vaddonz-dock-addon {
    display: flex;
    pointer-events: all;
    box-shadow: var(--vaddonz-border);
    width: 26px;
    height: 26px;
    color: white;
    font-size: 16px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.vaddonz-dock-addon:hover {
    background-color: #313131;
}

.layer.interface-layer .positioner.top .hud-container {
    top: -5px !important;
}

.layer.interface-layer .positioner.top .hud-container .hero-data .heroname {
    top: 4px !important;
}