.vaddonz-overlay {
    display: flex;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.vaddonz-dock {
    box-shadow: 0 0 1px #010101, 0 0 0 1px #ccc, 0 0 0 2px #0c0d0d, 1px 1px 2px 2px #0c0d0d66;
    height: 25px;
    background: #00000099;
    width: 100%;
}

button.vaddonz-dock-toggle {
    pointer-events: all;
}

.vaddonz-dock-toggle svg path {
  transition: all 0.4s ease;
}

.vaddonz-dock-toggle.down, .vaddonz-dock-toggle.up {
    pointer-events: all;
    display: flex;
    box-shadow: 0 0 1px #010101, 0 0 0 1px #ccc, 0 0 0 2px #0c0d0d, 1px 1px 2px 2px #0c0d0d66;
    background: #00000099;
    width: 20px;
    float: right;
    margin-right: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    fill: white;
    border-radius: 0px 0px 7px 7px;
    padding: 1px;
}