.vaddonz-window {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 640px;
    background-color: #000000;
    color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 1px #010101, 0 0 0 1px #ccc, 0 0 0 2px #0c0d0d, 1px 1px 2px 2px #0c0d0d66;
    font-family: Arial, sans-serif;
    user-select: none;
    z-index: 9999;
}

.vaddonz-header {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.vaddonz-title {
    padding: 6px 0px 6px 0px;
    text-align: center;
    font-size: 1.1em;
    user-select: text;
    color: beige;
}

.vaddonz-btn {
  background: none;
  border: none;
  color: #ccc;
  cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
  font-size: 1.2em;
  padding: 2px 8px;
  transition: color 0.2s ease;
}

.vaddonz-btn:hover {
  color: #fff;
}

.vaddonz-content {
  padding: 12px;
  font-size: 0.9em;
  color: #ddd;
}
