.vaddonz-window {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 640px;
  background-color: black;
  color: #eee;
  border-radius: 8px;
  box-shadow: 0 0 1px #010101, 0 0 0 1px #ccc, 0 0 0 2px #0c0d0d,
    1px 1px 2px 2px #0c0d0d66;
  font-family: Arial, sans-serif;
  user-select: none;
  z-index: 9999;
  box-sizing: border-box;
}

.vaddonz-window.vaddonz-opacity0 {
  background: 0 0;
}
.vaddonz-window.vaddonz-opacity1 {
  background: #0000004d;
}
.vaddonz-window.vaddonz-opacity2 {
  background: #0009;
}
.vaddonz-window.vaddonz-opacity3 {
  background: #000c;
}
.vaddonz-window.vaddonz-opacity4 {
  background: #000;
}

.vaddonz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277)
      5 -5,
    auto;
  font-size: 11px;
}

.vaddonz-window-controls {
  width: 40px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.vaddonz-window-controls.left {
  justify-content: left;
}

.vaddonz-window-controls.right {
  justify-content: right;
}

.vaddonz-window-header {
  flex-grow: 1;
  text-align: center;
  font-size: 1.1em;
  color: beige;
  user-select: text;
}

.vaddonz-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 1.2em;
  padding: 2px 8px;
  transition: color 0.2s ease;
  cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277)
      5 -5,
    auto;
}

.vaddonz-btn.close {
  background: url(../img/buttony.png) -624px -117px;
  width: 15px;
  height: 15px;
}

.vaddonz-btn.opacity {
  background: url(../img/buttony.png) -725px -131px;
  width: 15px;
  height: 15px;
}

.vaddonz-btn:hover {
  color: #fff;
}

.vaddonz-content {
  display: flex;
  padding: 12px;
  font-size: 0.9em;
  color: #ddd;
  height: 300px;
  box-sizing: border-box;
}

.vaddonz-tabs {
  display: flex;
  flex-direction: column;
  width: 145px;
  border-right: 1px solid #444;
  padding-right: 8px;
  box-sizing: border-box;
}

.vaddonz-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  border: 1px solid #7f7f7f78;
  margin-bottom: 6px;
  background: #22222299;
  color: white;
  transition: background 0.3s, color 0.3s;
  font-size: 12px;
  box-sizing: border-box;
}

.vaddonz-tab i {
  width: 18px;
  text-align: center;
  font-size: 15px;
  opacity: 0.85;
}

.vaddonz-tab:hover {
  background: #55555570;
}

.vaddonz-main-content {
  flex-grow: 1;
  padding-left: 12px;
  overflow-y: auto;
  color: #ddd;
  box-sizing: border-box;
}
