@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

.vaddonz-window {
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/1n.png), auto;
  backdrop-filter: blur(2px);
  position: fixed;
  background-color: black;
  color: #eee;
  border-radius: 8px;
  box-shadow: 0 0 1px #010101, 0 0 0 1px #ccc, 0 0 0 2px #0c0d0d, 1px 1px 2px 2px #0c0d0d66;
  font-family: Arial, sans-serif;
  user-select: none;
  z-index: 9999;
  box-sizing: border-box;
}

#vaddonz-manager {
  flex-direction: column;
}

.vaddonz-window.vaddonz-opacity0 {
  background: 0 0;
}
.vaddonz-window.vaddonz-opacity1 {
  background: #0000004d;
}
.vaddonz-window.vaddonz-opacity2 {
  background: #0009;
}
.vaddonz-window.vaddonz-opacity3 {
  background: #000c;
}
.vaddonz-window.vaddonz-opacity4 {
  background: #000;
}

.vaddonz-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 11px;
  border-bottom: 1px solid #444;
  height: 25px;
}

.vaddonz-header-title {
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/4n.png) 12 12, auto;
  text-align: center;
  color: beige;
}

.vaddonz-header-controls {
  width: 40px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.vaddonz-header-controls.left {
  justify-content: left;
}

.vaddonz-header-controls.right {
  justify-content: right;
}

.vaddonz-btn {
  border: none;
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

.vaddonz-btn.close {
  background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) -624px -117px;
  width: 13px;
  height: 13px;
}

.vaddonz-btn.close:hover {
  background-position: -726px -117px;
}

.vaddonz-btn.opacity {
  background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) -725px -131px;
  width: 13px;
  height: 13px;
}

.vaddonz-btn.opacity:hover {
  filter: brightness(1.3);
}

.vaddonz-window-body {
  flex: 1;
}

.vaddonz-content {
  display: flex;
  color: #ddd;
  height: 270px;
}

.vaddonz-tabs {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
    border-right: 1px solid #444;
    padding: 5px;
}

.vaddonz-tab {
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 150px;
    height: 13%;
    user-select: none;
    border-radius: 5px;
    border: 1px solid #7f7f7f78;
    background: #22222299;
    color: white;
    transition: background 0.3s, color 0.3s;
    font-size: 12px;
    box-sizing: border-box;
}

.vaddonz-tab i {
  width: 18px;
  text-align: center;
  font-size: 15px;
  opacity: 0.85;
}

.vaddonz-tab:hover {
  background: #55555570;
}

.vaddonz-main-content {
  padding: 5px;
  color: white;
}

.vaddonz-main {
}

.vaddonz-main.dodatki {
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 4px;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
}

.vaddonz-card {
    display: flex;
    height: 67px;
    background: #22222299;
    border: 1px solid #7f7f7f78;
    padding: 5px;
    width: 45%;
    flex-direction: column;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0px 0px 20px 0px #00000069;
}

.vaddonz-card:hover {
    background: #55555570;
}

.vaddonz-card-description {
    padding-top: 2px;
    font-size: 11px;
}

.checkbox-vaddonz [type='checkbox'] {
  display: none;
}

.checkbox-vaddonz [type='checkbox'] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 13px;
  height: 13px;
  border: 1px solid #545454;
  background: #545454;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.checkbox-vaddonz [type='checkbox']:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-vaddonz [type='checkbox'] + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%230dff00' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease;
}

.checkbox-vaddonz .c-checkbox__label {
    position: relative;
    padding-left: 20px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    user-select: none;
    font-size: 12px;
}

/* Chrome, Edge, Safari (WebKit) */
.vaddonz-window::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.vaddonz-window::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.205);
}

.vaddonz-window::-webkit-scrollbar-thumb {
  background: #575757;
}

.vaddonz-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}
