@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

.vaddonz-window {
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/1n.png), auto;
    backdrop-filter: blur(2px);
    position: fixed;
    background-color: black;
    color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #010101,0 0 0 2px #ccc,0 0 0 3px #0c0d0d,2px 2px 3px 3px #0c0d0d66;
    font-family: Arial, sans-serif;
    user-select: none;
    z-index: 9990;
    box-sizing: border-box;
    flex-direction: column;
}

#vaddonz-manager {
  flex-direction: column;
}

.vaddonz-window.vaddonz-opacity0 {
  background: 0 0;
}
.vaddonz-window.vaddonz-opacity1 {
  background: #0000004d;
}
.vaddonz-window.vaddonz-opacity2 {
  background: #0009;
}
.vaddonz-window.vaddonz-opacity3 {
  background: #000c;
}
.vaddonz-window.vaddonz-opacity4 {
  background: #000;
}

.vaddonz-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 11px;
  border-bottom: 1px solid #444;
  height: 25px;
}

.vaddonz-header-title {
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/4n.png) 12 12, auto;
  text-align: center;
  color: beige;
}

.vaddonz-header-controls {
  width: 40px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.vaddonz-header-controls.left {
  justify-content: left;
}

.vaddonz-header-controls.right {
  justify-content: right;
}

.vaddonz-btn {
  border: none;
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

.vaddonz-btn.close {
  background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) -624px -117px;
  width: 13px;
  height: 13px;
}

.vaddonz-btn.close:hover {
  background-position: -726px -117px;
}

.vaddonz-btn.opacity {
  background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) -725px -131px;
  width: 13px;
  height: 13px;
}

.vaddonz-btn.opacity:hover {
  filter: brightness(1.3);
}

.vaddonz-window-body {
  flex: 1;
}

[id^="vaddonz-settings-"] .vaddonz-window-body {
    padding: 10px;
    display: flex;
    justify-content: center;
}

[id^="vaddonz-settings-"] .vaddonz-content {
    display: flex;
    color: white;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.vaddonz-main.changelog {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 4px;
    max-height: 250px;
    overflow-y: auto;
    row-gap: 5px;
}

.vaddonz-changelog.entry {
    display: flex;
    height: auto;
    background: #22222294;
    border: 1px solid #7f7f7f78;
    width: 100%;
    flex-direction: column;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0px 0px 20px 0px #00000069;
}

.vaddonz-changelog.entry:hover {
    background: #55555570;
}

.vaddonz-changelog.content {
    padding: 5px 0px 10px 0px;
}

.vaddonz-changelog.title {
    font-size: 12px;
    height: 20px;
    display: flex;
    padding: 2px;
    justify-content: center;
    border-bottom: 1px solid #7f7f7f78;
    align-items: center;
}

.vaddonz-changelog.type {
    margin: 5px 0px 0px 10px;
    font-size: 11px;
}

.vaddonz-changelog.change {
    font-size: 10px;
    margin-left: 10px;
    padding-left: 7px;
    border-left: 1px solid #eeeeee42;
}

.vaddonz-main.informacje {
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.informacje-version {
    display: flex;
    justify-content: center;
    border: 1px solid #7f7f7f78;
    padding: 5px 5px 5px 5px;
    margin-left: auto;
    font-size: 11px;
    border-radius: 5px;
    flex-direction: column;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0px 0px 20px 0px #00000069;
    align-items: center;
}

.informacje-version-entry {
    display: flex;
}

.informacje-title {
    display: flex;
    justify-content: center;
    border: 1px solid #7f7f7f78;
    padding: 10px 0px 10px 0px;
    width: 100%;
    flex-direction: column;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0px 0px 20px 0px #00000069;
    align-items: center;
}

.informacje-title-entry {
    display: flex;
}

.informacje-spacer {
    margin-top: 91px;
}

.informacje-support {
    display: flex;
    border: 1px solid #7f7f7f78;
    padding: 13px 0px 13px 0px;
    width: 100%;
    flex-direction: column;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0px 0px 20px 0px #00000069;
    align-items: center;
    justify-content: center;
}

.informacje-support-entry {
    display: flex;
}

.informacje-support-howto {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-evenly;
}

a.informacje-support-button.informacje-support-howto1 {
    display: flex;
    background: #22222294;
    border: 1px solid gray;
    width: 40%;
    height: 25px;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0 0 6px 1px #000000bf;
    text-decoration: none;
    color: #37ff5b;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

a.informacje-support-button.informacje-support-howto1:hover {
    background-color: #55555570;
}

a.informacje-support-button.informacje-support-howto2 {
    display: flex;
    background: #22222294;
    border: 1px solid gray;
    width: 40%;
    height: 25px;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0 0 6px 1px #000000bf;
    text-decoration: none;
    color: #2fc4ff;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

a.informacje-support-button.informacje-support-howto2:hover {
    background-color: #55555570;
}

.vaddonz-content {
    display: flex;
    color: #ddd;
    height: auto;
}

.vaddonz-tabs {
    display: flex;
    flex-direction: column;
    width: 130px;
    gap: 8px;
    border-right: 1px solid #444;
    padding: 5px;
}

.vaddonz-tab {
    box-shadow: inset 0px 0px 20px 0px #00000069;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 130px;
    height: 35px;
    user-select: none;
    border-radius: 5px;
    border: 1px solid #7f7f7f78;
    background: #22222294;
    color: white;
    transition: background 0.3s, color 0.3s, border 0.3s;
    font-size: 12px;
    box-sizing: border-box;
}

.vaddonz-tab i {
  width: 18px;
  text-align: center;
  font-size: 15px;
  opacity: 0.85;
}

.vaddonz-tab:hover {
  background: #55555570;
}

.vaddonz-main-content {
    flex: 1;
    padding: 5px;
    color: white;
}


.vaddonz-main.hidden {
  display: none;
}

.vaddonz-main.active {
  display: flex;
}

.vaddonz-main.hidden {
  opacity: 0;
}


.vaddonz-main.dodatki, .vaddonz-main.personalizacja {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 4px;
    max-height: 250px;
    overflow-y: auto;
    row-gap: 5px;
}

.vaddonz-card {
    display: flex;
    height: 67px;
    background: #22222294;
    border: 1px solid #7f7f7f78;
    padding: 5px;
    width: 47%;
    flex-direction: column;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0px 0px 20px 0px #00000069;
}

.vaddonz-card:hover {
    background: #55555570;
}

.vaddonz-card-description {
    padding-top: 2px;
    margin-left: 2px;
    font-size: 11px;
}

.checkbox-vaddonz [type='checkbox'] {
  display: none;
}

.checkbox-vaddonz [type='checkbox'] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    width: 13px;
    height: 13px;
    border: 1px solid #3b3b3b;
    background: #292929;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.checkbox-vaddonz [type='checkbox']:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-vaddonz [type='checkbox'] + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%230dff00' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease;
}

.checkbox-vaddonz .c-checkbox__label {
    position: relative;
    padding-left: 20px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    user-select: none;
    font-size: 12px;
}

.vaddonz-main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.vaddonz-main::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(59, 59, 59, 0.205);
}

.vaddonz-main::-webkit-scrollbar-thumb {
  background: #575757;
}

.vaddonz-main::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.vaddonz-card-header {
    display: flex;
    justify-content: space-between;
}

.vaddonz-card-controls.right {
    margin-top: -1px;
    display: flex;
    width: 40px;
    gap: 3px;
    justify-content: right;
    flex-direction: row-reverse;
    align-items: center;
}

.vaddonz-btn.settings {
    width: 13px;
    height: 13px;
    background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) no-repeat -607px -117px;
}

.vaddonz-btn.settings:hover {
  background-position: -659px -117px;
}

.vaddonz-btn.info {
    width: 13px;
    height: 13px;
    background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) no-repeat -659px -100px;
}

.vaddonz-slider-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vaddonz-slider-label {
    font-size: 11px;
    color: #ddd;
}

.vaddonz-slider-wrapper {
    position: relative;
    width: 90%;
    height: 5px;
    margin: 10px 0px 10px 0px;
    background: #474545;
    border-radius: 4px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

.vaddonz-slider-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #0f0;
    border-radius: 4px;
    pointer-events: none;
}

.vaddonz-slider-thumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 8px 0px black;
    background: #595959;
    border-radius: 50%;
    transition: background 0.2s;
}

.vaddonz-slider-thumb:hover {
    background: #0f0;
}

.vaddonz-slider-value-display {
    display: flex;
    position: absolute;
    bottom: -5px;
    transform: translateX(-50%);
    margin-left: 7px;
    font-size: 10px;
    width: 23px;
    border-radius: 5px;
    color: #0f0;
    opacity: 0;
    padding: 3px 3px 3px 3px;
    line-height: 1;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0 0 0 1px #010101,0 0 0 2px #ccc,0 0 0 3px #0c0d0d,2px 2px 3px 3px #0c0d0d66;
    background: #000000;
    justify-content: center;
}

.vaddonz-slider-value-display.visible {
  opacity: 1;
}

.vaddonz-separator {
    background-color: #444444;
    width: 100%;
    height: 1px;
    margin: 5px 0;
}

.vaddonz-settings-widget {
    border: 1px solid #7f7f7f78;
    border-radius: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

.vaddonz-settings-widget .title  {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
}

.vaddonz-settings-widget .icons-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vaddonz-settings-widget.icon {
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: #22222299;
    border: 1px solid #7f7f7f78;
    border-radius: 4px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    transition: background 0.3s, color 0.3s;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.vaddonz-settings-widget.icon.active {
    border: 1px solid #4bff0087;
}

div[id="1"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon01.gif);
}

div[id="2"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon02.gif);
}

div[id="3"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon03.gif);
}

div[id="4"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon04.gif);
}

div[id="5"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon05.gif);
}

div[id="6"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon06.gif);
}

div[id="7"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon07.gif);
}

div[id="8"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon08.gif);
}

div[id="9"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon09.gif);
}

div[id="10"].vaddonz-settings-widget.icon {
  background-image: url(https://vumocode.github.io/vaddonz-new/assets/img/icons/icon10.gif);
}

.vaddonz-settings-widget.icon:hover {
    background-color: #55555570;
}

[widget-name="vaddonz"] {
  background: red;
}

button.vaddonz-tab.active {
    background: #55555570;
}

#vaddonz-tooltip {
    display: none;
    box-shadow: 0 0 0 0 #2b282a,0 0 0 1px #353131,0 0 0 2px #191311,0 0 0 3px #2b2727,0 0 0 4px #59595a,0 0 0 5px #9da1a7,0 0 0 6px #5a585b,0 0 0 7px #2c2625;
    color: #e6d6bf;
    line-height: 14px;
    max-width: 200px;
    min-width: 150px;
    position: absolute;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 9999;
}

#vaddonz-tooltip .content{
      background: rgba(0,0,0,.85);
    font-size: 12.8px;
    padding: 5px;
    word-break: break-word;
}

[id^="vaddonz-incognito"] .vaddonz-content {
    padding: 10px;
    display: flex;
    justify-content: center;
}

button.vaddonz-button {
    display: flex;
    background: #22222294;
    border: 1px solid gray;
    width: auto;
    height: 28px;
    padding: 0px 10px 0px 10px;
    transition: background 0.3s, color 0.3s;
    box-shadow: inset 0 0 6px 1px #080808bf;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

button.vaddonz-button:hover {
    background-color: #55555570;
}

.button-vaddonz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body.lp-pointer .alerts-layer .big-messages .message,
body.lp-pointer .console-layer .big-messages .message,
body.lp-pointer .mAlert-layer .big-messages .message,
body.lp-pointer .mAlert-mobile-layer .big-messages .message {
  pointer-events: none !important;
}

body.lp-background .alerts-layer .big-messages .message .inner,
body.lp-background .console-layer .big-messages .message .inner,
body.lp-background .mAlert-layer .big-messages .message .inner,
body.lp-background .mAlert-mobile-layer .big-messages .message .inner {
  background: none !important;
}

body.lp-color .alerts-layer .big-messages .message,
body.lp-color .console-layer .big-messages .message,
body.lp-color .mAlert-layer .big-messages .message,
body.lp-color .mAlert-mobile-layer .big-messages .message {
  color: var(--lp-color, #ffd700) !important;
}

body.ni-widget .top-left.main-buttons-container.ui-droppable.static-widget-position {
  margin-top: 3px !important;
}

body.ni-widget .top-right.main-buttons-container.ui-droppable.static-widget-position {
  margin-top: 3px !important;
}

body.ni-widget .bottom-left.main-buttons-container.ui-droppable.static-widget-position {
  margin-bottom: 3px !important;
}

body.ni-widget .bottom-right.main-buttons-container.ui-droppable.static-widget-position {
  margin-bottom: 3px !important;
}

body.ni-loadout .item-builds.item-builds {
  display: none !important;
}

body.ni-health .hpp {
  color: black !important;
  margin-top: 8px !important;
}

body.ni-experience .exp-percent {
  display: none !important;
}

body.ni-legendary.ln-active.ln-frame-loot-active .loot-wnd:has([data-item-type=t-leg]).border-window::before {
  border: none !important;
}

body.ni-legendary.ln-active.ln-frame-loot-active .loot-wnd:has([data-item-type=t-leg]).border-window::after {
  top: -28px !important;
  left: -14px !important;
  width: calc(100% + 29px) !important;
  height: calc(100% + 57px) !important;
}

.color-vaddonz {
    position: relative;
}

.c-color__custom {
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid #3b3b3b;
    background: #292929;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.c-color__window {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 10px;
    background-color: rgb(0 0 0);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    gap: 8px;
    width: 200px;
}

.c-color__preview {
    width: 100%;
    height: 30px;
    border-radius: 4px;
}

input.c-color__hex {
    background-color: #000000;
    color: white;
    border: none;
    box-shadow: 0 0 0 1px #010101, 0 0 0 2px #cccccc78, 0 0 0 3px #0c0d0d, 2px 2px 3px 3px #0c0d0d66;
}

label.c-color__label {
    padding-left: 20px;
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/1n.png), auto;
    user-select: none;
    font-size: 12px;
}