@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

.vaddonz-window {
    cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/1n.png), auto;
    backdrop-filter: blur(2px);
    position: fixed;
    background-color: black;
    color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 1px #010101, 0 0 0 1px #ccc, 0 0 0 2px #0c0d0d,
    1px 1px 2px 2px #0c0d0d66;
    font-family: Arial, sans-serif;
    user-select: none;
    z-index: 9999;
    box-sizing: border-box;
}

#vaddonz-manager {
    flex-direction: column;
}

.vaddonz-window.vaddonz-opacity0 {
  background: 0 0;
}
.vaddonz-window.vaddonz-opacity1 {
  background: #0000004d;
}
.vaddonz-window.vaddonz-opacity2 {
  background: #0009;
}
.vaddonz-window.vaddonz-opacity3 {
  background: #000c;
}
.vaddonz-window.vaddonz-opacity4 {
  background: #000;
}

.vaddonz-window-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 11px;
    border-bottom: 1px solid #444;
    height: 25px;
}

.vaddonz-header-title {
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/4n.png) 12 12, auto;
  text-align: center;
  color: beige;
}

.vaddonz-header-controls {
  width: 40px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.vaddonz-header-controls.left {
  justify-content: left;
}

.vaddonz-header-controls.right {
  justify-content: right;
}

.vaddonz-btn {
  border: none;
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
}

.vaddonz-btn.close {
  background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) -624px -117px;
  width: 13px;
  height: 13px;
}

.vaddonz-btn.close:hover {
  background-position: -726px -117px;
}

.vaddonz-btn.opacity {
  background: url(https://vumocode.github.io/vaddonz-new/assets/img/buttony.png) -725px -131px;
  width: 13px;
  height: 13px;
}

.vaddonz-btn.opacity:hover {
  filter: brightness(1.3);
}

.vaddonz-window-body {
    flex: 1;
}

.vaddonz-content {
    display: flex;
    color: #ddd;
    height: 100%;
    box-sizing: border-box;
}

.vaddonz-tabs {
  display: flex;
  flex-direction: column;
  width: 145px;
  gap: 5px;
  border-right: 1px solid #444;
  padding: 5px;
}

.vaddonz-tab {
  cursor: url(https://vumocode.github.io/vaddonz-new/assets/img/cursor/5n.png) 5 -5, auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  user-select: none;
  border-radius: 5px;
  border: 1px solid #7f7f7f78;
  background: #22222299;
  color: white;
  transition: background 0.3s, color 0.3s;
  font-size: 12px;
  box-sizing: border-box;
}

.vaddonz-tab i {
  width: 18px;
  text-align: center;
  font-size: 15px;
  opacity: 0.85;
}

.vaddonz-tab:hover {
  background: #55555570;
}

.vaddonz-main-content {
  padding: 5px;
  width: 100%;
  overflow-y: auto;
  color: white;
}

.vaddonz-main {
  display: flex;
}

.vaddonz-addons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.vaddonz-addon-tile {
    display: flex;
    height: 75px;
    background: #22222299;
    border: 1px solid #7f7f7f78;
    padding: 5px;
    justify-content: center;
    width: 47%;
    flex-direction: column;
}
