.main-buttons-container .widget-button .icon.vaddonz {
  margin-left: -15px;
  background-image: url("https://i.imgur.com/XU0EmWU.png");
  background-position: 0 0;
}

.icon.vaddonz {
    background: url("https://i.imgur.com/XU0EmWU.png");
}
